<!DOCTYPE html>
<html lang="en">
<head>
    <title>Iris Calculator</title>
    <link href="../static/style.css" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type='text/javascript' src="../static/app.js"></script>
</head>

<body>

    <header>
    	<div class="outerContainer">
        	<div class="header-div">
            	<h1 style="color:#ecf0f1;"><a href="/">Iris Calculator</a><h1>
        	</div>
        </div>
	</header>

{% block body %}{% endblock %}

</body>

</html>