{% extends "layout.html" %}

{% block body %}



	{% block page_content %}


<body>
    <link href="https://s3-us-west-2.amazonaws.com/tier5/css/bootstrap.css" rel="stylesheet" />

<form class="form-horizontal" method="POST">
<fieldset>
<!-- Form Name -->
<legend>Log in</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput-0">Email Address</label>
  <div class="controls">
    <input id="textinput-0" name="email" type="text" placeholder="the thing I won't give away to spammers" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Password input-->
<div class="control-group">
  <label class="control-label" for="passwordinput-0">Password</label>
  <div class="controls">
    <input id="passwordinput-0" name="password" type="password" placeholder="password (make it a good one)" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Button -->
<!-- <div class="control-group">
  <label class="control-label" for="singlebutton-0"></label>
  <div class="controls">
    <button id="singlebutton-0" name="singlebutton-0" class="btn btn-success">Let's do this!</button>
  </div>
</div>
 -->
<!-- </fieldset>
 -->

<!-- </form> -->


  
<!-- <form class="form-horizontal" method="POST"> -->
<!-- <fieldset>
 --><!-- Form Name -->
<legend>Signing up?</legend>
<!-- Text input-->
<!-- <div class="control-group">
  <label class="control-label" for="textinput-0">Email Address</label>
  <div class="controls">
    <input id="textinput-0" name="email" type="text" placeholder="the thing I won't give away to spammers" class="input-xlarge" required="">
    
  </div>
</div>

 Password input
<div class="control-group">
  <label class="control-label" for="passwordinput-0">Password</label>
  <div class="controls">
    <input id="passwordinput-0" name="password" type="password" placeholder="password (make it a good one)" class="input-xlarge" required="">
  </div>
</div> -->

<!-- Password input-->
<div class="control-group">
  <label class="control-label" for="passwordinput-0">Password Again</label>
  <div class="controls">
    <input id="passwordinput-0" name="password2" type="password" placeholder="password again" class="input-xlarge" >
  </div>
</div>


<!-- Button -->
<div class="control-group">
  <label class="control-label" for="singlebutton-0"></label>
  <div class="controls">
    <button id="singlebutton-0" name="singlebutton-0" class="btn btn-success">Let's do this!</button>
  </div>
</div>

</fieldset>
</form>

</body>

	{% endblock %}



{% endblock %}