{% extends "layout.html" %}

{% block body %}



	{% block page_content %}
<div class="content">
		<form method="POST">
			{{ search_form.keywords.label }} {{ search_form.keywords() }}
			{{ search_form.submit() }}
		</form>
	</div>
<div align="left">

	{% if keywords %}
	By looking at indeed and using the following keywords: {{keywords}} I got <Br><br>

	{% for posting in results %}
	<b>{{posting.title}} </b><br> Posted on: <B>{{posting.date_posted}} </b> <br>
	{{posting.description}}<br><br>
	{% endfor %}
</div>
<br>
	AND
<br><br>
	After analyzing the first page of indeed for posts, I have discovered the following keywords that I think are highly relevant to the massage therapist looking for work.<br><br> {{new_keywords}}
	{% endif %}
	</div>
	{% endblock %}



{% endblock %}